.btn {
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.15);
    min-width: 160px;
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &.btn-primary {
        color: #fff;
    }

    &.btn-outline-primary {
        &:hover {
            color: #fff;
        }
    }

    &.btn-secondary {
        color: var(--primary-color);
    }

    &.btn-small {
        padding-left: 15px;
        padding-right: 15px;
    }

    &.no-shadow {
        box-shadow: none;
    }
}