.upload-form {
//   width: 400px;
border: 2px dashed rgba(0, 0, 0, 0.2);
border-radius: 5px;

}

.file-upload-wrapper {
  $defaultColor: #4daf7c;
  $height: 52px;
  
  position: relative;
  width: 100%;
  height: $height;

  background: url("../assets/images/upload.svg") center top 4px no-repeat;
  background-size: 20px 20px;
  
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    // background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: $height - 20px;
    line-height: 12px;
    color: #999;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px 10px 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  &:before {
    content: 'Upload your logo';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: inline-block;
    height: 30px;
    // background: $defaultColor;
    color: rgba(0,0,0,0.5);
    font-weight: 700;
    z-index: 25;
    font-size: 12px;
    line-height: 23px;
    padding: 0 15px;
    // text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  
  &:hover {
    &:before {
    //   background: darken($defaultColor, 10%);
    }
  }
   input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    // height: $height - 20px;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

.file-selected {
    &::after {
        background-color: #fff;
        color: var(--primary-color);
    }
}