.form-control {
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1.2;
}
.form-label {
    font-size: 12px;
    color: #828282;
    margin-bottom: 2px;
}
.contact-form {
    max-width: 830px;
    margin: 70px auto 0;
}