.site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

    @media screen and (max-width: 767px) {
      background-color: #fff;
    }

    &.sticky {
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
    ul {
        margin-bottom: 0;
    }

    
}

.logo {
    transition: 0.5s ease-in-out;
    @media screen and (min-width: 991px) {
        opacity: 0;
    }
}

.site-header.sticky {
  .logo {
        @media screen and (min-width: 991px) {
            opacity: 1;
        }
    }   
}

.nav-button {
  display: none;
  @media screen and (max-width: 767px) {
    position: relative;
    min-width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    display: block;
    background-color: transparent;
    border: none;
  }

  

.bar {
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-text-color);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
}
.bar1 { top: 0; }
.bar2, .bar3 { top: 8px; }
.bar3 { right: 0; }
.bar4 { bottom: 0; }
&.active {
  .bar1{
    transform: translateX(40px);
    background-color: transparent;
  }
  .bar2{
    transform: rotate(45deg);
  }
  .bar3{
    transform: rotate(-45deg);
  }
  .bar4{
    transform: translateX(-40px);
    background-color: transparent;
  }
}

}