.hero {
    padding-top: 140px;
    padding-bottom: 100px;

    h1 {
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    .hide-on-sm {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}
.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-top: 70px;
    padding-left: 0;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li {
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        i {
            margin-right: 15px;
            font-size: 0.8em;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}

.hero-animation {
    position: absolute;
    top: 92px;
    left: 100px;
    transform: skew(-12deg, 3deg);

    @media screen and (max-width: 767px) {
        left: 97px;
        top: 72px;
    }
}

.hero-logo {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
} 

.hero-device-wrapper, .hero-device-wrapper > img {
    @media screen and (max-width: 767px) {
        max-width: 340px;
        margin: auto;
    }
}

.hero-animation lottie-player {
    @media screen and (max-width: 767px) {
        height: 180px !important;
        width: 180px !important;
    }
}
