.site-nav {
    ul {
        list-style: none;

        @media screen and (max-width: 767px) {
            padding-left: 0;
            padding-top: 25px;
        }
    }

    li {
        &:not(:last-child) {
            margin-right: 52px;

            @media screen and (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
    }
    a {
        color: var(--primary-text-color);
        font-weight: 600;

        &:hover {
            color: var(--primary-color)
        }
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        right: 0;
        top: 58px;
        bottom: 0;
        
        transition: 0.5s ease-in-out;
        transform: translateX(250px);
        background-color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        width: 140px;
        box-sizing: border-box;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);

        &.active {
            transform: translateX(0);
        }
    }
}


.social {
    list-style: none;

    @media screen and (max-width: 767px) {
        margin-right: 40px;
    }

    li {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    a {
        color: var(--primary-text-color);
        &:hover {
            color: var(--primary-color)
        }
    }
}