.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-gap: 95px;

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, minmax(0,1fr));
        grid-gap: 45px;
    }
}
.pricing-card {
    background-color: #fff;
    box-shadow: 29px 47px 80px rgba(0, 0, 0, 0.09);
    padding: 70px;
    text-align: center;
    border: 8px solid #E5FFFF;
    border-radius: 2px;

    sup {
        font-size: 12px;
    }

    .price {
        border-top: 2px solid #E5FFFF;
        border-bottom: 2px solid #E5FFFF;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}