.progress-form {
    @media screen and (max-width: 767px) {
        margin-bottom: 50px;
    }
    .form-control {
        border-color: transparent;
        background-color: rgba(#BDBDBD, 0.15);
        color: #828282;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1.2;
    }

    .form-label {
        font-size: 12px;
        margin-bottom: 0;
    }

    .progress-steps {
        &::after {
            content: "";
            position: absolute;
            right: -70px;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: #EB5757;

            @media screen and (max-width: 767px) {
                right: 25px;
            }
        }
    }
    .step {
        padding: 5px 10px;
        border-radius: 5px;
        position: relative;
        color: rgba(0,0,0,0.3);
        font-weight: 600;

        @media screen and (max-width: 767px) {
            margin-right: 40px;
            display: flex;
            align-items: center;
        }
        
        &.active {
            background-color: rgba(#EB5757, 0.2);
            color: #EB5757;

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                background-color: #EB5757;
                left: 100%;
                width: 70px;
                top: 50%;
                margin-top: -2px;

                @media screen and (max-width: 767px) {
                    width: 13px;
                }
            }
        }
        i {
            margin-right: 10px;
        }
    }

    
}

.shadow {
    box-shadow: 2px 11px 46px rgba(0, 0, 0, 0.17);
}

.hide-on-sm {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }