.slider-wrapper {
    .slider-item {
        min-height: 70vh;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .slider-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 15px 0;
        color: #fff;
        background-color: rgba(0,0,0,0.3);
    }
}