.video-wrapper {
    filter: drop-shadow(29px 47px 80px rgba(0, 0, 0, 0.09));
    margin-bottom: 70px;
    border: 8px solid #C4C4C4;
    border-radius: 14px;
    overflow: hidden;

    video {
        width: 100%;
    }
}