:root {
  --header-font-family: 'Titillium Web', sans-serif;
  --default-font-family: 'Titillium Web', sans-serif;
  --font-size-x-small: 0.625rem;
  --font-size-small: 0.75rem;
  --font-size-default: 0.875rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.125rem;
  --font-size-x-large: 1.5625rem;
  --font-size-xx-large: 2.5rem;
  --font-size-medium-large: 3.25rem;
  // --font-size-medium-large: clamp(1.75rem, 3vw, 3.25rem);
  --font-size-xxx-large: 3.725rem;
  --primary-color: #EB5757;
  --primary-color-dark: #1a5c96;
  --bg-light: #F7F7F7;
  --white: #fff;
  --primary-text-color: rgba(0,0,0,0.7);
  --secondary-text-color: rgba(0,0,0,0.5);
  --color-danger: #f00;
}

@media screen and (max-width: 767px) {
  :root {
    --font-size-medium-large: 2.25rem;
    --font-size-xxx-large: 2.725rem;
  }
}

// Font
//-----------------------------
$font-size: (
  "x-small": var(--font-size-x-small),
  "small": var(--font-size-small),
  "default": var(--font-size-default),
  "regular": var(--font-size-regular),
  "large": var(--font-size-large),
  "x-large": var(--font-size-x-large),
  "xx-large": var(--font-size-xx-large),
  "medium-large": var(--font-size-medium-large),
  "xxx-large": var(--font-size-xxx-large)
);

// Radius
//-----------------------------
$colors: (
  "primary": #EB5757,
  "secondary": rgba(0,0,0,0.5),
  "green": #32B4B4,
  "light": #E5FFFF
);

// Font Weight
//-----------------------------
$font-weight: (
  "light": 300,
  "normal": 400,
  "medium": 600,
  "bold": 700
);

// Height
//-----------------------------
$height: (
  "auto": auto
);

// Width
//-----------------------------
$width: (
  "screen": 100vh,
);

// Padding and margin
//-----------------------------
$spacer: (auto, 0, 3px, 5px, 7px, 10px, 15px, 20px, 25px, 30px, 40px, 50px, 60px, 70px, 95px, 135px);

// Display
//-----------------------------
$display: (block, flex, grid, inline-flex);

// Position
//-----------------------------
$position: (relative, absolute, sticky, fixed);

// Flex utility
//-----------------------------
$align-items: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "around": space-around,
  "stretch": stretch
);

$justify-items: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around
);

$align-self: (
  "auto": auto,
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch
);

$justify-self: (
  "auto": auto,
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch
);

$bg-colors: (
  "white": "#fff"
);

// Text align
//-----------------------------
$text-align: (left, right, center);

// Vertical alignment
//-----------------------------
$vertical-align: (baseline, top, middle, bottom);

// Flex direction
//-----------------------------
$flex-direction: (row, column, column-reverse, row-reverse);

// Border Radius
//-----------------------------
$border-radius: (2px, 4px, 5px, 10px, 15px, 20px);

// Line Height
//-----------------------------
$line-height: (5px, 10px, 15px, 20px);

// Opacity
$opacity: (
  "5": .5,
  "8": .8,
);

// Responsive 
$extra-small-device:    560px;
$small-device:          992px;
$desktop:               1140px;

