::-moz-selection {
    color: #ffffff;
    background: var(--primary-color);
}

::selection {
    color: #ffffff;
    background: var(--primary-color);
}

*, *:before, *:after {
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

html {
  /*  overflow-x: hidden;*/
  scroll-behavior: smooth;
}

body {
    font-family: var(--default-font-family);
    font-weight: 400;
    position: relative;
    margin: 0;
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
    font-weight: 600;
}

a {
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: var(--primary-color);
    &:hover {
        text-decoration: none;
        color: var(--primary-color-dark);
    }
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.container {

    @media (min-width: 576px) {
       max-width: 100%;
    }

    @media (min-width: 768px) {
        max-width: 100%;
        .container {
          padding-right: 20px;
          padding-left: 20px;
        }
    }

    @media (min-width: 992px) {
         max-width: 100%;
    }

    @media (min-width: 1232px) {
         max-width: 1140px;
    }
  }


@media screen and (max-width: 768px) {
    br {
        display: none;
    }
}