@font-face {
  font-family: 'sti-icons';
  src:
    url('../assets/fonts/sti-icons.ttf?uklq1t') format('truetype'),
    url('../assets/fonts/sti-icons.woff?uklq1t') format('woff'),
    url('../assets/fonts/sti-icons.svg?uklq1t#sti-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sti-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-edit-qr:before {
  content: "\e90d";
}
.ic-email:before {
  content: "\e90b";
}
.ic-call:before {
  content: "\e90c";
}
.ic-check:before {
  content: "\e909";
}
.ic-close:before {
  content: "\e90a";
}
.ic-letter-starts:before {
  content: "\e900";
}
.ic-share:before {
  content: "\e901";
}
.ic-silverware:before {
  content: "\e902";
}
.ic-people:before {
  content: "\e903";
}
.ic-web:before {
  content: "\e904";
}
.ic-wifi:before {
  content: "\e905";
}
.ic-facebook:before {
  content: "\e906";
}
.ic-twitter:before {
  content: "\e907";
}
.ic-instagram:before {
  content: "\e908";
}