// font size
@each $name, $value in $font-size {
  .font-#{$name} {
    font-size: $value !important;
  }
}

// font weight
@each $name, $value in $font-weight {
  .font-weight-#{$name} {
    font-weight: $value !important;
  }
}

// text and background color
@each $name, $value in $colors {
  .text-#{$name} {
    color: $value !important;
  }

  .bg-#{$name} {
    background-color: $value !important;
  }

  .border-#{$name} {
    border-color: $value !important;
  }
}

// height
@each $name, $value in $height {
  .h-#{$name} {
    height: $value !important;
  }

  .h-min-#{$name} {
    min-height: $value !important;
  }
}

// width
@each $name, $value in $width {
  .w-#{$name} {
    width: $value !important;
  }
}

// for margin and padding
@each $size in $spacer {
  .p-#{$size} {
    padding: #{$size} !important;
  }

  .pl-#{$size},
  .px-#{$size} {
    padding-left: #{$size} !important;
  }

  .pr-#{$size},
  .px-#{$size} {
    padding-right: #{$size} !important;
  }

  .pt-#{$size},
  .py-#{$size} {
    padding-top: #{$size} !important;
  }

  .pb-#{$size},
  .py-#{$size} {
    padding-bottom: #{$size} !important;
  }

  .m-#{$size} {
    margin: #{$size} !important;
  }

  .ml-#{$size},
  .mx-#{$size} {
    margin-left: #{$size} !important;
  }

  .mr-#{$size},
  .mx-#{$size} {
    margin-right: #{$size} !important;
  }

  .mt-#{$size},
  .my-#{$size} {
    margin-top: #{$size} !important;
  }

  .mb-#{$size},
  .my-#{$size} {
    margin-bottom: #{$size} !important;
  }
}

.mt-v-15px {
  margin-top: -15px;
}

.mx-ve-30px {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.mx-ve-25px {
  margin-left: -25px !important;
  margin-right: -25px !important;
}

// for display
@each $value in $display {
  .#{$value} {
    display: $value !important;
  }
}

// .d-none {
//   display: none !important;
// }

// for display
@each $value in $position {
  .position-#{$value} {
    position: $value !important;
  }
}

// for bg colors
// @each $value in $colors {
//   .bg-#{$value} {
//     background-color: $value !important;
//   }
// }

//for flex

// .flex-column {
//   flex-direction: column;
// }

// @each $name, $value in $align-items {
//   .align-items-#{$name} {
//     align-items: $value !important;
//   }
// }

// @each $name, $value in $justify-items {
//   .justify-content-#{$name} {
//     justify-content: $value !important;
//   }
// }

@each $name, $value in $align-self {
  .align-self-#{$name} {
    align-self: $value !important;
  }
}

@each $name, $value in $justify-self {
  .justify-self-#{$name} {
    justify-self: $value !important;
  }
}

// Text align
@each $value in $text-align {
  .text-#{$value} {
    text-align: $value !important;
  }
}

// Vertical alignment
@each $value in $vertical-align {
  .align-#{$value} {
    vertical-align: $value !important;
  }
}

// flex
@each $value in $flex-direction {
  .flex-#{$value} {
    flex-direction: $value !important;
  }
}

//**** Border  ****

// .border-right {
//   position: relative;
//   &:after {
//     content: "";
//     position: absolute;
//     top: 10px;
//     bottom: 10px;
//     right: -2px;
//     width: 2px;
//     background-color: #cccccc;
//   }
// }

.border {
  border: 1px solid;
}

.border-top {
  border-top: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.border-right {
  border-right: 1px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-light {
  border-color: #eee;
}

.border-black {
  border-color: #000000;
}

.border-black-1 {
  border-color: rgba(0, 0, 0, 0.1);
}

.border-black-2 {
  border-color: rgba(0, 0, 0, 0.2);
}

.border-table {
  border-color: rgba(153, 153, 153, 0.2);
}

.border-primary {
  border-color: map-get($colors, "primary");
}

.border-primary-5 {
  border-color: rgba(map-get($colors, "primary"), 0.5);
}

.border-none {
   border: none !important;
}

//**** Ends Border  ****

.mx-n-10px {
  margin-left: -10px;
  margin-right: -10px;
}
.mx-n-30px {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Offset classes
.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

//z-index
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}

//
.cursor-pointer {
  cursor: pointer;
}

.img-rounded {
  border-radius: 100%;
}

// Border Radius
// for display
// @each $value in $border-radius {
//   .border-radius-#{$value} {
//     border-radius: $value !important;
//   }
// }

.border-radius-full {
  border-radius: 100% !important;
}

// Line Height
@each $value in $line-height {
  .line-height-#{$value} {
    line-height: $value !important;
  }
}

@each $name, $value in $opacity {
  .opacity-#{$name} {
    opacity: $value !important;
  }
}


.bg-gradient {
  background: linear-gradient(124deg, rgba(255,255,255,1) 9.69%,rgba(0,255,255,0.1) 76.66%) !important;
}