{% extends "layout/layout.twig" %}
{% block title %} Home {% endblock %}
{% block page %}
    <main>
        <div class="hero bg-gradient">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <img src="assets/images/logo-hero.svg" class="hero-logo" alt="" />
                <h1 class="font-weight-bold font-xxx-large mb-30px"><span class="text-black-50">Stick. Scan.</span> Connect.</h1>
                <div class="d-md-flex hide-on-sm">
                  <a href="#" class="btn btn-outline-primary mr-20px">Learn More</a>
                  <a href="#" class="btn btn-primary">Design Your Own</a>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="position-relative mb-5 mb-md-0 hero-device-wrapper">
                  <img src="assets/images/hero-device.png" alt="" />
                  <div class="hero-animation">
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_krmgegu7.json"  background="transparent"  speed="1"  style="width: 202px; height: 202px;"  loop autoplay></lottie-player>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center d-md-none">
                  <a href="#" class="btn btn-outline-primary mr-20px">Learn More</a>
                  <a href="#" class="btn btn-primary">Design Your Own</a>
                </div>
              </div>
            </div>

            <ul class="features">
              <li><i class="ic-wifi"></i>Wifi</li>
              <li><i class="ic-web"></i>Web</li>
              <li><i class="ic-people"></i>People</li>
              <li><i class="ic-silverware"></i>Menu</li>
              <li><i class="ic-share"></i>Social Media</li>
              <li><i class="ic-letter-starts"></i>Custom</li>
            </ul>
          </div>
        </div>

        <div class="text-center">
          <img src="assets/images/qr-samples.jpg" alt="" />
        </div>

        <div class="py-70px bg-gradient">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <h2 class="mb-50px font-medium-large">How does it work?</h2>
                <p class="mb-20px">QR codes or Quick Response codes are two-dimensional barcodes that were used initially by automakers in Japan. QR codes are evolved since then and are used in a variety of ways including sharing deals and website links, connecting to wifi without sharing ssid and password, sharing contact details, showing restaurant menus, coding custom data and many more. Most of the latest smart phones have built in capability to read OR codes directly from the camera.</p>
                <p>Stiqr allows you to generate QR codes and design the sticker with your branding - so all you have to do is Stick. Scan & Connect</p>
              </div>

              <div class="col-lg-6 offset-md-1">
                <img src="assets/images/img-how-it-works.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="py-70px" id="generate">
          <div class="container">
            <h2 class="mb-50px text-center font-medium-large">Design your Stiqr</h2>
            <p class="text-center mb-50px">
              All the content on our Stiqr is customizable. From call to action to your personalized branding. <br/>Optionally, encoded content can be shown on the stiqr as well. For example, for wifi Stiqr, wifi information can be printed on the stiqr, Or can remain hidden.
            </p>

            <div class="row">
              <div class="col-lg-6">
              <div class="progress-form d-flex align-items-stretch justify-content-start justify-content-md-between">
                <div class="d-flex flex-column justify-content-between position-relative progress-steps">
                  <span class="step active">
                    <i class="ic-wifi"></i>
                    Wifi
                  </span>
                  <span class="step">
                    <i class="ic-web"></i>
                    Web
                  </span>
                  <span class="step">
                    <i class="ic-people"></i>
                    People
                  </span>
                  <span class="step">
                    <i class="ic-silverware"></i>
                    Menu
                  </span>
                  <span class="step">
                    <i class="ic-share"></i>
                    Social Media
                  </span>
                </div>

                <div>
                  <div class="mb-3">
                    <label for="" class="form-label">Call to Action Text</label>
                    <input type="text" class="form-control" id="" placeholder="Scan to book">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">SSID</label>
                    <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" id="" placeholder="Lorem Ipsum">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Visible Content </label>
                    <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Stiqr Size</label>
                    <div class="d-flex align-items-center">
                      <div class="form-check me-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Square (2x2)”
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Rectangle (3x1.5)”
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

              <div class="col-lg-3 offset-lg-3 text-center d-flex flex-column">
                <div class="rounded d-flex bg-white p-10px shadow justify-content-center justify-md-content-between mb-4 mx-auto align-items-center">
                  <div class="me-2">
                    {# <img src="assets/images/img-qr-sample.png" width="100" alt="" /> #}
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_sgHXvX.json"  background="transparent"  speed="1"  style="width: 120px; height: 120px;"  loop  autoplay></lottie-player>
                  </div>
                  <div>
                    <p class="text-center font-large font-weight-bold text-uppercase mb-0 lh-1">SCAN TO BOOK</p>
                    <p class="text-center font-xx-large font-weight-bold text-black-50 mb-0 lh-1">19E204</p>
                    <form class="upload-form">
                      <div class="file-upload-wrapper" data-text="">
                        <input name="file-upload-field" type="file" class="file-upload-field" value="">
                      </div>
                    </form>
                  </div>
                </div>

                <div class=" mb-20px"><button class="btn btn-outline-primary">Generate QR</button></div>
                <div><a href="step-2.html" class="btn btn-primary">Order</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="py-70px bg-gradient" id="pricing">
          <div class="container">
            <h3 class="text-center mb-50px font-medium-large">Pricing</h3>
            <div class="pricing-grid">
              <div class="pricing-card">
                <h3 class="text-uppercase">Personal</h3>
                <span>5 Stiqr</span>
                <div class="py-25px price">
                  <h4 class="text-primary font-xx-large"><sup>$</sup>7.50</h4>
                  <span class="text-secondary">$1.5 / Stiqr</span>
                </div>
                <p><i class="ic-close text-green font-small mr-10px"></i>Shipping Extra</p>
                <p><i class="ic-check text-green font-small mr-10px"></i>Tax Included</p>
              </div>

              <div class="pricing-card">
                <h3 class="text-uppercase">Business</h3>
                <span>20 Stiqr</span>
                <div class="py-25px price">
                  <h4 class="text-primary font-xx-large"><sup>$</sup>20</h4>
                  <span class="text-secondary">$1 / Stiqr</span>
                </div>
                <p><i class="ic-check text-green font-small mr-10px"></i>Shipping Extra</p>
                <p><i class="ic-check text-green font-small mr-10px"></i>Tax Included</p>
              </div>

              <div class="pricing-card">
                <h3 class="text-uppercase">Corporate</h3>
                <span>50 Stiqr</span>
                <div class="py-25px price">
                  <h4 class="text-primary font-xx-large"><sup>$</sup>0.75</h4>
                  <span class="text-secondary">/ Stiqr</span>
                </div>
                <p><i class="ic-check text-green font-small mr-10px"></i>Shipping Extra</p>
                <p><i class="ic-check text-green font-small mr-10px"></i>Tax Included</p>
              </div>
            </div>
            
          </div>
        </div>

        <div class="py-70px">
          <div class="container text-center">
            <h3 class="mb-50px font-medium-large">Check out the video</h3>
            {# <img src="assets/images/img-video.png" alt="" /> #}
            <div class="ratio ratio-21x9 video-wrapper">
              <video id="homeVideo" width="450"  poster="assets/video/poster.png">
                  <source src="assets/video/video.mp4" type="video/mp4">
              </video>
            </div>
            <p>All the content on our Stiqr is customizable. From call to action to your personalized branding. Optionally, encoded content can be shown on the stiqr as well. For example, for wifi Stiqr, wifi information can be printed on the stiqr, Or can remain hidden.</p>
          </div>
        </div>

        <div class="py-70px bg-gradient" id="contact">
          <div class="container">
            <h3 class="mb-30px text-center font-medium-large">Contact Information</h3>
            <p class="text-center">Don't hesitate to give us a call or send us a contact form message</p>
            <p class="text-center">
              <span class="mr-20px"><i class="ic-call mr-5px text-primary"></i>+81 720 2212</span>
              <span><i class="ic-email mr-5px text-primary"></i>office@evolo.com</span>
            </p>

            <div class="contact-form">
              <div class="row">
                <div class="col-lg-6 mb-3">
                  <label for="" class="form-label">Name</label>
                  <input type="email" class="form-control" id="" placeholder="name@example.com">
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="" placeholder="name@example.com">
                </div>
                <div class="col-lg-12 mb-3">
                  <label for="" class="form-label">Example textarea</label>
                  <textarea class="form-control" id="" rows="3"></textarea>
                </div>
                <div class="text-center mt-50px">
                  <button class="btn btn-primary">Send Message</button>
                </div>
              </div>
            </div>
          </div>

        </div>

    </main>
{% endblock %}
