{% extends "layout/layout.twig" %}
{% block title %} Step {% endblock %}
{% block page %}
    <main>
      <div class="pt-135px bg-gradient">
        <div class="container">
          <div class="text-center">
            <img src="assets/images/logo.svg" alt="" />
          </div>
          {# <ul class="d-flex align-items-center justify-content-center m-0 p-0 app-breadcrumb">
            <li>Design your Stiqr</li>
            <li>Shipping Information</li>
            <li>Payment Information</li>
          </ul> #}

          <nav 
          style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" 
          aria-label="breadcrumb"
          class="d-flex align-items-center justify-content-center"
          >
            <ol class="breadcrumb text-uppercase mb-0 font-weight-bold">
              <li class="breadcrumb-item">
                <a href="#">Design your Stiqr</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Shipping Information</li>
              <li class="breadcrumb-item active" aria-current="page">Payment Information</li>
            </ol>
          </nav>

        </div>

        <div class="py-70px" id="generate">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="progress-form d-flex align-items-stretch justify-content-between">
                    <div class="d-flex flex-column justify-content-between position-relative progress-steps">
                      <span class="step active">
                        <i class="ic-wifi"></i>
                        Wifi
                      </span>
                      <span class="step">
                        <i class="ic-web"></i>
                        Web
                      </span>
                      <span class="step">
                        <i class="ic-people"></i>
                        People
                      </span>
                      <span class="step">
                        <i class="ic-silverware"></i>
                        Menu
                      </span>
                      <span class="step">
                        <i class="ic-share"></i>
                        Social Media
                      </span>
                    </div>

                    <div>
                      <div class="mb-3">
                        <label for="" class="form-label">Call to Action Text</label>
                        <input type="text" class="form-control" id="" placeholder="Scan to book">
                      </div>
                      <div class="mb-3">
                        <label for="" class="form-label">SSID</label>
                        <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="mb-3">
                        <label for="" class="form-label">Password</label>
                        <input type="password" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="mb-3">
                        <label for="" class="form-label">Visible Content </label>
                        <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="mb-3">
                      <label for="" class="form-label">Stiqr Size</label>
                        <div class="d-flex align-items-center">
                          <div class="d-flex align-items-center me-2">
                            <input class="form-check-input mt-0 me-1" type="checkbox" value="">
                            <label>Square (2x2)”</label>
                          </div>
                          <div class="d-flex align-items-center">
                            <input class="form-check-input mt-0 me-1" type="checkbox" value="">
                            <label>Rectangle (3x1.5)”</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 offset-lg-2 text-center ">
                  <p class="font-large font-weight-bold text-uppercase">Rectangle (3x1.5)”</p>
                  <img src="assets/images/img-scan.png" alt="" />
                  <div class=" mb-20px"><button class="btn btn-outline-primary">Generate QR</button></div>
                  <a href="/step-2.html" class="btn btn-primary">Next</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
{% endblock %}
