{% extends "layout/layout.twig" %}
{% block title %} Step {% endblock %}
{% block page %}
    <main>
<div class="pt-135px bg-gradient" style="min-height: 100vh;">

        <div class="container">
          {# <div class="text-center">
            <a href="/">
              <img src="assets/images/logo.svg" alt="" />
            </a>
          </div> #}
          {# <ul class="d-flex align-items-center justify-content-center m-0 p-0 app-breadcrumb">
            <li>Design your Stiqr</li>
            <li>Shipping Information</li>
            <li>Payment Information</li>
          </ul> #}

          <nav 
          style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" 
          aria-label="breadcrumb"
          class="d-flex align-items-center justify-content-center"
          >
            <ol class="breadcrumb text-uppercase mb-0 font-weight-bold">
              <li class="breadcrumb-item active" aria-current="page">Design your Stiqr</li>
              <li class="breadcrumb-item">
                <a href="#">Shipping Information</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Payment Information</li>
            </ol>
          </nav>

        </div>

        <div class="py-70px">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 order-1 order-md-0">
                  <div class="progress-form ">
                    <div class="row">
                      <div class="col-lg-6 mb-3">
                        <label for="" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="" placeholder="Scan to book">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label for="" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label for="" class="form-label">Email</label>
                        <input type="password" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label for="" class="form-label">Phone No. </label>
                        <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label for="" class="form-label">Shipping Address</label>
                        <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label for="" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                      </div>
                      <div class="col-lg-12 mb-3">
                        <div class="row align-items-end">
                          <div class="col-lg-4">
                            <label for="" class="form-label">No. of Stiqrs</label>
                            <input type="text" class="form-control" id="" placeholder="Lorem Ipsum">
                          </div>
                          <div class="col-lg-3 mt-3 mt-md-0">
                            <button class="btn btn-secondary btn-small no-shadow">Corporate Plan</button>
                          </div>
                          <div class="col-lg-5 text-right">
                            <span class="font-x-large text-primary font-weight-medium">0.75 x 60 =</span>
                            <span class="font-xx-large text-primary font-weight-medium">
                              <sup>$</sup>45
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 hide-on-sm">
                        <a href="/" class="btn btn-outline-primary">Back</a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex d-md-none align-items-center justify-content-center mt-auto">
                    <a href="step-3.html" class="btn btn-primary mt-auto me-2 me-md-0 order-1">Next</a>
                    <a href="index.html" class="btn btn-outline-primary d-flex d-md-none justify-content-center order-0 me-2">Back</a>
                  </div>

                </div>

                <div class="col-lg-3 offset-lg-2 text-center d-flex flex-column order-0 order-md-1 mb-5 mb-md-0">
                  <p class="font-large font-weight-bold text-uppercase">Rectangle (3x1.5)”</p>
                  <span class="text-primary mb-2 font-weight-medium"><i class="ic-edit-qr me-2"></i>EDIT QR</span>
                  <div class="rounded d-flex bg-white p-10px shadow justify-content-between mb-4 mx-auto">
                    <div class="me-2">
                      {# <img src="assets/images/img-qr-sample.png" width="100" alt="" /> #}
                      <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_sgHXvX.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
                    </div>
                    <div>
                      <p class="text-center font-large font-weight-bold text-uppercase mb-0 lh-1">SCAN TO BOOK</p>
                      <p class="text-center font-xx-large font-weight-bold text-black-50 mb-0 lh-1">19E204</p>
                      <p class="text-center font-xx-large font-weight-bold text-primary mb-0 lh-1">3M</p>
                    </div>
                  </div>
                  <div class="d-none d-md-flex align-items-center justify-content-center mt-auto">
                    <a href="step-3.html" class="btn btn-primary mt-auto me-2 me-md-0 order-1">Next</a>
                    <a href="index.html" class="btn btn-outline-primary d-flex d-md-none justify-content-center order-0 me-2">Back</a>
                  </div>
                </div>
                
                
              </div>
            </div>
        </div>
      </div>
    </main>
{% endblock %}
