{% extends "layout/layout.twig" %}
{% block title %} Step {% endblock %}
{% block page %}
    <main>
      <div class="pt-135px bg-gradient d-flex" style="min-height: 100vh;">
        <div class="container d-flex align-items-center">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <img src="assets/images/payment-complete.svg" alt="" />
            </div>

            <div class="col-lg-4 offset-md-2 d-flex flex-column align-items-center">
              <p class="font-x-large text-center">Thank you for completing the payment.</p>
              <a href="index.html" class="btn btn-primary">Back</a>
            </div>
          </div>
        </div>

      </div>
    </main>
{% endblock %}
