<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- For Mobile Meta -->
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap" rel="stylesheet">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <title>StiQR | {{ title }}</title>
        <link rel="stylesheet" href="css/app.css">

    </head>
    <body>

    <!-- Header -->
    <header class="site-header">
        <div class="container d-flex align-items-center justify-content-between">
          <a href="/" class="logo">
            <img src="assets/images/logo.svg" alt="" />
          </a>

          <div class="d-flex align-items-center">
            <nav class="site-nav d-flex align-items-md-center">
              <ul class="d-md-flex align-items-md-center">
                <li><a href="#generate">Generate</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </nav>

            <ul class="social d-flex align-items-center">
              <li><a href="#"><i class="ic-facebook"></i></a></li>
              <li><a href="#"><i class="ic-twitter"></i></a></li>
              <li><a href="#"><i class="ic-instagram"></i></a></li>
            </ul>
          </div>

          <button type="button" class="nav-button">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
          </button>

        </div>


        
    </header>

    <!-- Content -->
    {% block page %}{% endblock %}

    <!-- Footer -->
    <footer class="footer" id="footer"></footer>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
    </body>
</html>
